
h1.title {
  font-family: Arial;
}

.sub-title {
  color: gray;
  font-family: Arial;
  
}

.horizontal-index {
  display: inline;
}



.button, .button:link, .button:visited {
  color: #121212;
  border: 1px solid #DDDDDD;
  width: 130px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
} 

.button:hover, .button:active {
  box-shadow: 0 0 5px #AABBFF;
}

