
h1.title {
  font-family: Arial;
}

.sub-title {
  color: gray;
  font-family: Arial;
  
}

.button {
  border: 1px solid #DDDDDD;
  width: 130px;
  height: 20px;
  pasding: 10px;
  border-radius: 10px;
  font-family: Arial;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
} 
