body {
  font-family: Arial;
}

.sub-title {
  color: gray;
  font-family: Arial;
  
}

.horizontal-index {
  display: inline;
}

.invis {
	color: #FFFFFF;
}

.button, .button:link, .button:visited {
  color: #121212;
  border: 1px solid #DDDDDD;
  width: 150px;
  height: 20px;
  padding: 20px 15px;
  border-radius: 10px;
  font-family: Arial;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
} 

.button:hover, .button:active {
  box-shadow: 0 0 5px #AABBFF;
}

.strikethrough {
  text-decoration: line-through;
}


/*INDEX*/
ul.nav-index {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
  overflow: hidden;
}

ul.nav-index li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px 25px;
  color: #AA80DD;
  font-family: Arial;
  font-weight: bold;
}

ul.nav-index li {
  float: left;
  background-color: #EFEFEF;
}

.active {
  background-color: #DDDDDD;
}

ul.nav-index li:hover:not(.active) {
  background-color: #EEEEEE;
}

ul.nav-index li:hover {
  box-shadow: 0 0 5px #CCCCCC;
}
/*INDEX END*/
